*{
    margin: 0;
    padding: 0;
}

.main{
    background-color: rgba(0,0,0,0.3);
    height: 100vh;
 
    
}

.button-point{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    gap: 100px;
   
}

button{
    padding: 8px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.image-container{
    position: relative;
 
    height: 400px;
   
    
    /* background-color: cadetblue; */

}

img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;

}

.active{
    display: block;
}



